body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #2f2f35;
    color: white;
    font-weight: 350;
}

body::-webkit-scrollbar {
    width: 1px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.ace_content::-webkit-scrollbar {
    width: 1px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.ace_content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.ace_scrollbar::-webkit-scrollbar {
    width: 1px;
}

.main-nav {
    background-color: #fe5167;

    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.form-card {
    margin: auto;
    color: black;
    width: 350px;
}